body { 
    
font-family: "assistant" ;
font-size: 22px; 
color: rgb(161, 24, 47);
background: papayawhip; 
line-height: 27px;
letter-spacing: 0.3px;
float: right; 





padding-top: 5%;
padding-bottom: 1em;
padding-left: 20px;
padding-right: 15%;
display: block;
}

h2 { 
    font-weight: normal;
font-size: 20px;




}


